div.chooser
    form.choose_area(ng-submit="userChooser.chooseUser()")
        div.title
            | Give Github username to see repositories
        input.input(type="text", ng-model="userChooser.user", name="user")
        div
            input.button(type="submit", id="submit", value="Go")