html(lang="en")
    head
        title #{g_page_name}
        meta(name="description", content=g_page_description)
        
        //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
        //script(src="/public/app.js")
        
    body
        div testi