div.container
    div.well
        div.row
            div.col-xs-12.col-md-8
                form.form-group(ng-submit="projectList.getGitHubData(projectList.githubUser)")
                    div.input-group
                        div.input-group-addon
                            i.fa.fa-search
                        input.form-control(type="text", placeholder="Choose Github user", ng-model="projectList.githubUser")
                    button.btn.btn-primary.pull-right(type="submit") Choose
                        
        div.row
            div.col-xs-12.col-sm-6.col-md-4
                ghv-datalist-filter(title="Filter by repository", options="projectList.repositories", filter="projectList.filter", filter-name="repository")
            div.col-xs-12.col-sm-6.col-md-4
                ghv-datalist-filter(title="Filter by user", options="projectList.users", filter="projectList.filter", filter-name="name")         
                        
    div.row
        div.col-xs-12
            ghv-datatable(data="projectList.commiters", titles="projectList.titles", filter="projectList.filter")